h1{
    font-size: 25px;
    float: left;
    margin-left: 200px;
    color: white;
    /*for stylinh the header:*/
}
.tab{
    float: right;
    margin-top: 20px;
    margin-right: 300px;
    /*style the unordered list as a single entity:*/
}
.login{
    margin-right: 10%;
}
li{
    display: inline;
    padding: 10px;
    /*inline display for the list of navigation menu:*/
}
.navigation{
    height:70px;
    width: auto;
    color: white;
    /*the navigation menu, title and button styling div:*/
}
.div1{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    height:600px;
    font-weight: bolder;
    color: white;
}
#div1{
    font-size: 15px;
    color: white;
}
.small{
    display: inline-flex;
    margin-top: 70px;
    padding: 2px;
}
.small1{
    margin:0px 50px 0px 50px;
    font-size: 15px;
    height: 20px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(46, 167, 248);
    padding: 10px;
    color: white;
}
.small2{
    border:1px solid white;
    margin:0px 50px 0px 50px;
    font-size: 15px;
    height: 20px;
    width:150px;
    text-align: center;
    padding: 2px;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
body{
    background-color: white;
    /* the entire body of the page with a white background:*/
}
.gallery{
    width: 200px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    margin-top: -70px;
}
#gallery{
    font-weight: bold;
    text-align: justify;
}
#download{
    font-size: 10px;
    text-align: justify;
}
.download{
    display: flex;
    margin: 0px 350px 0px 350px;
    /*used display flex value to align the smaller divs and text-align their contents with justify value:*/
}
.first{
    width: 200px;
    background-color: rgb(50, 165, 241);
    padding: 10px;
    margin: 20px;
    margin-top: -70px;
    /*chnaged the third div values to its unique characteristic:*/
}
#second{
    font-weight: bold;
    color: white;
    text-align: justify;
}
#third{
    font-size: 10px;
    color: white;
    text-align: justify;
}
.category{
    display: flex;
    margin: 100px 250px 0px 300px;
}
.image2{
    width: 200px;
    background-color: white;
    padding: 40px;
    margin: 10px;
    text-align: center;
}
#category{
    font-size: 10px;
}
#image2{
    font-weight: bold;
}
h2{
    font-size: 40px;
    text-align: center;
    margin-top: 120px;
}
p{
    text-align: center;
}
.people1{
    border: 1px solid rgb(92, 90, 90);
    width: 150px;
    background-color: white;
    padding: 50px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    /*resize the window to make the display values stay inline-block:*/
}
.people{
    margin:100px 200px 0px 320px;
}
#people1{
    font-size: 10px;
}
.hero{
    background-image: url(image/hero-cover.3.png);
    background-size: cover;
    background-blend-mode: darken;
    /*set the background image:*/
}
.flex-container{
    margin: 150px 50px 0 300px;
    padding: 20px;
    display: inline-flex;
    /*use theflex property:*/
}
.flex-container>div{
    width: 150px;
    line-height: 200px;
}
.gradient{
    margin: 50px 50px 0 170px;
    padding: 20px;
    display: inline-flex;
    width: 75%;
    height: 70px;
    background-color: rgb(55, 55, 155);
    background-image: linear-gradient(to right,rgb(56, 56, 153),rgb(179, 49, 114));
    /*set the lineargradient background and modify it to suit the display:*/
}
#subscribe{
    width: 600px;
    font-size: 30px;
    margin-left: 40px;
    font-weight: bold;
    color: white;
}
.email{
    width: 400px;
    text-align: justify;
    padding-top: 20px;
    padding-left: 20px;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
}
.subscribe{
    width: 150px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(40, 169, 243);
    border-radius:0px 5px 5px 0px;
}
.offer1{
    border: 1px solid rgb(36, 140, 236);
    width: 250px;
    text-align: center;
    display: inline-block;
    height: 450px;
    border-radius: 10px;
    font-size: 13px;
}
.offer{
    height:550px;
    width: 80%;
    margin-left:25%;
    margin-top: 40px ;
    
}
#off{
    display: block;
    text-align: justify;
}
button{
    font-size: 15px;
    margin-top: 20px;
    width: 180px;
    height: 40px;
    color: white;
    background-color: rgb(42, 153, 226);
    border: none;
    border-radius: 10px;
    /*use the button tags to style them:*/
}
#standard{
    border: 1px solid rgb(12, 38, 73);
    height: 100%;
    padding-top: 40px;
    background-color: rgb(21, 21, 82);
    color: seashell;
    border-radius: 10px;
    width:250px;
    margin-right: 20px;
}
.last{
    border:2px solid rgb(25, 39, 51);
    height: 700px;
    margin-left: 200px;
    margin-right: 150px;
    display: inline-flex;
    width: 75%;
    background-color: rgb(31, 31, 61);
}
#last{
    text-align: justify;
    font-weight: bold;
    font-size: 30px;
    padding-left: 100px;
    padding-top: 80px;
    color: white;
}
#second{
    padding-left: 100px;
}
.world{
    margin-right: 50px;
    padding: 25px;
}
.book{
    margin-left: 350px;
    height:500px;
    width: 52%;
    display: inline-flex;
    margin-top: -20%;
    background-color: white;
    /*style the form using display property:*/
}
.img2{
    margin-right: 420px;
    height: 500px;
}
.fill{
    margin-left: -400px;
    width: 55%;
}
input[type=text], select{
    display:block;
    padding: 10px;
    margin: 10px;
    width: 85%;
    box-sizing: border-box;
    /*resize the forms and use padding property to move them in around the margins:*/
}
#click{
    font-size: 15px;
    margin-top: 40px;
    width: 350px;
    height: 40px;
    color: white;
    background-color: rgb(42, 153, 226);
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
h4{
    text-align: center;
}
.contact{
    margin-top: 100px;
    height: 100px;
    width: 57%;
    margin-left: 25%;
}
.button1{
    float: right;
    display: inline;
    margin-top: -70px;
    width: 150px;
}
.consult{
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}
.next{
    text-align: justify;
    color: rgb(92, 85, 85);
    font-size: 15px;
}
.last1{
    height: 270px;
    margin-top: 50px;
    width: 65%;
    margin-left: 22%;
}
.company{
    display: inline-block;
    width: 170px;
    margin-top: 1px;
}
#la{
    display: block;
    font-size: 12px;
    color: rgb(68, 67, 67);
}
h5{
    text-align: center;
}
.super{
    color: rgb(8, 165, 238);
    font-size: 20px;
    font-weight: bold;
}
footer{
    width: 58%;
    margin-left: 25%;
}
.image3{
    float: right;
    margin-top: -30px;
}
.foot{
    text-align: justify;
    font-size: 12px;
    color: rgb(57 61 61);
}
.buttonn{
    font-size: 15px;
    margin-top: -10px;
    width: 180px;
    height: 50px;
    color: white;
    background-color: rgb(42, 153, 226);
    border: none;
    border-radius: 10px;
    float: right;
    margin-right: -35%;
}
@media only screen and (min-width: 1210px) {
    /*for desktop only:*/
    .hero {width: 100%;}
    .navigation {width: auto;}
    .div1 {width: 100%;}
    .gradient {width: 75%;}
    .offer {width: 80%;}
    .last {width: 75%;}
    .book {width: 52%;}
    .contact {width: 57%;}
    .last1 {width: 65%;}
    .foot {width: 58%;}
    .download {margin: 0px 350px 0px 350px}
    .category {margin: 100px 250px 0px 300px}
    .people {margin: 150px;}
    .flex-container {margin: 150px 50px 0px 300px}
}